/**
 * App-wide Styles
 */
@import url(https://fonts.googleapis.com/css?family=Lora:400,700italic);
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.hero-unit {
  min-height: 400px;
  border-bottom: none;
  margin-top: -20px;
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-image: url('../img/city.jpg');
  background-size: cover;
  min-height: 800px;
  opacity: 0.7;
}
.background {
  background-image: url('../img/city.jpg');
  background-size: cover;
  min-height: 800px;
  opacity: 0.7;
}
.lead {
  font-size: 20px;
}
.shadowed {
  -webkit-box-shadow: 3px 3px 53px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 53px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 53px 10px rgba(0, 0, 0, 0.75);
}
.spacer {
  height: 15px;
}
ul {
  padding-left: 0;
}
li.boletin {
  list-style-type: none;
}
li.boletin a {
  color: white;
  padding-left: 25px;
}
li.boletin a:hover {
  text-decoration: underline;
}
li.boletin a.pdf {
  background: url(../../img/icon_pdf.png) no-repeat;
}
li.boletin a.docx {
  background: url(../../img/icon_pdf.png) no-repeat;
}
input.ng-valid[required],
textarea.ng-valid[required] {
  border-left: 5px solid #42A948;
  /* green */
}
input.ng-invalid,
textarea.ng-invalid {
  border-left: 5px solid #a94442;
  /* red */
}
.footer {
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 19px;
  color: #777;
  background: white;
  border-top: 1px solid #e5e5e5;
}
.footer span {
  margin-right: 10px;
}
ul.checks {
  padding-left: 0;
  list-style: none;
  list-style-position: outside;
}
ul.checks li:before {
  content: '✔';
  margin-right: 10px;
}
ul.plussed {
  padding-left: 0;
  list-style: none;
  list-style-position: outside;
}
ul.plussed li:before {
  content: '●';
  margin-right: 10px;
}
.btn-text-black {
  color: black;
}
.container {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar-brand {
  padding: 0;
}
.logo {
  vertical-align: middle;
  position: absolute;
  height: 40px;
}
.logo .logo-semicircle {
  width: 70px;
  height: 40px;
  display: inline-block;
  box-shadow: inset 3px -2px #5598EA;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  background: repeating-linear-gradient(180deg, #B5CCE1, #B5CCE1 6%, #5598EA 10%);
}
@media only screen and (max-width: 479px), only screen and (min-width: 768px) and max-width: 959px) {
  .logo .logo-semicircle {
    display: none;
  }
}
.logo .logo-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  border-bottom: 2px solid #5598EA;
  color: black;
  position: absolute;
  width: 300px;
  height: 40px;
  left: 100%;
  font-size: 1.6em;
  line-height: 1.1;
  padding-left: 5px;
  top: 0;
}
@media only screen and (max-width: 479px), only screen and (min-width: 768px) and max-width: 959px) {
  .logo .logo-text {
    font-size: 1.3em;
    border-bottom: none;
  }
}
.nav-pills > li.active > a {
  color: #fff;
  background-color: #5598EA;
  border-radius: 4px;
}
.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}
.box {
  color: black;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  min-width: 400px;
  margin: 15px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
  -webkit-box-shadow: 3px 3px 53px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 53px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 53px 10px rgba(0, 0, 0, 0.75);
}
.box h3 {
  border-bottom: 2px solid gray;
  padding-bottom: 5px;
}
.box p:not(:last-child) {
  padding-bottom: 4px;
  border-bottom: 1px solid lightgray;
}
